{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>SignUp Form</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <!-- <form action="#" method="POST">
            <input class="text" type="text" name="Username" placeholder="Username" required="">
            <input class="text email" type="email" name="email" placeholder="Email" required="">
            <input class="text" type="password" name="password" placeholder="Password" required="">
            <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
            <div class="wthree-text">
                <label class="anim">
                    <input type="checkbox" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"> </div>
            </div>
            <input type="submit" value="SIGNUP">
        </form> -->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="colorlibcopy-agile">
                    <p><a href="/"> Back to Home</a></p>
                </div>
                <p>{{ form|crispy }}</p>
            </fieldset>
            <div>
                <input type="submit" value="Sign Up"></button>
            </div>
        </form>
        <p>Already Have An Account? <a href="{% url 'login' %}"> Login Now!</a></p>
    </div>
</div>
{% endblock content %}